<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Car Service Test Suite">
  <test thread-count="5" name="Unit Test Case">
    <classes>
      <class name="io.car.microservices.IoCarMicroservicesApplicationTests"/>
    </classes>
  </test> 
</suite> 
